# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/**/node_modules/

/**/target/

# Maven
*.jar
*.war
*.ear
*.class

# IDE
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Vue
app-vue/dist/
app-vue/node_modules/
app-vue/.env.local
app-vue/.env.*.local
